<launch>
  <!-- Arguments -->
  <arg name="mode" default="virtual" />
  <arg name="ip" default="192.168.20.35" />

  <!-- Virtual Mode -->
  <group if="$(eval mode == 'virtual')">
    <include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch">
      <arg name="robot_ip" value="192.168.56.101" />
    </include>
    <include file="$(find ur10e_moveit_config)/launch/move_group.launch" />
      <arg name="debug" value="true"/>
  </group>

  <!-- Real Mode -->
  <group if="$(eval mode == 'real')">
    <include file="$(find hande_bringup)/launch/ur10e_hande_bringup.launch">
      <arg name="robot_ip" value="$(arg ip)" />
      <arg name="kinematics_config" value="/root/catkin_ws/setting_file/calib_real.yaml" />
      <arg name="is_machine_tending" value="true" />
    </include>
    <include file="$(find ur10e_hande_moveit_config)/launch/move_group.launch" />
  </group>
</launch>
